In [1]:
import pandas as pd 
from sqlalchemy import create_engine

 ### Store CSV into DataFrame

In [26]:
#Import CSV File
csv_file="Resources/SpaceMissions.csv"

#Store CSV File in Dataframe
space_missions_df=pd.read_csv(csv_file)

#Read Dataframe
space_missions_df.head()

,Company,Launch Date,Launch Time,Launch Site,Temperature (° F),Wind speed (MPH),Humidity (%),Vehicle Type,Liftoff Thrust (kN),Payload to Orbit (kg),Rocket Height (m),Fairing Diameter (m),Payload Name,Payload Type,Payload Mass (kg),Payload Orbit,Mission Status,Failure Reason
0,SpaceX,24-Mar-06,22:30,Marshall Islands,86.0,9.0,74.0,Falcon 1,343,470,22.25,1.5,FalconSAT-2,Research Satellite,19.5,Low Earth Orbit,Failure,Engine Fire During Launch
1,SpaceX,21-Mar-07,1:10,Marshall Islands,NaN,NaN,NaN,Falcon 1,343,470,22.25,1.5,DemoSat,Mass simulator,NaN,Low Earth Orbit,Failure,Engine Shutdown During Launch
2,SpaceX,3-Aug-08,3:34,Marshall Islands,NaN,NaN,NaN,Falcon 1,343,470,22.25,1.5,Trailblazer,Communication Satellite,NaN,Low Earth Orbit,Failure,Collision During Launch
3,SpaceX,3-Aug-08,3:34,Marshall Islands,NaN,NaN,NaN,Falcon 1,343,470,22.25,1.5,"PRESat, NanoSail-D",Research Satellites,8,Low Earth Orbit,Failure,Collision During Launch
4,SpaceX,3-Aug-08,3:34,Marshall Islands,NaN,NaN,NaN,Falcon 1,343,470,22.25,1.5,Explorers,Human Remains,NaN,Low Earth Orbit,Failure,Collision During Launch

### Create new data  with selected columsn

In [33]:
new_space_missions_df=space_missions_df[['Company','Launch Date','Launch Time','Launch Site','Vehicle Type']].copy 

new_space_missions_df.type()

AttributeError: 'function' object has no attribute 'type'